.title {
  margin: 0;
  line-height: 44px;
  font-size: 4rem;
  background-image: url('./assets/Mobile/hero/wallpaperflare.com_wallpaper.jpg');
  /* stylelint-disable */
  background-clip: text;
  -webkit-background-clip: text;
  /* stylelint-enable */
  background-size: cover;
  color: transparent;
  margin-right: auto;
}

#about-logo {
  max-height: 250px;
}

#about-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 52px;
  width: 15%;
}

#about-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

header > img {
  display: none;
  position: absolute;
  top: 3%;
  right: 5%;
  height: 50px;
  width: auto;
  max-height: 25px;
}

header > img.mobile {
  display: flex;
  max-height: 25px;
}

#about-wrapper {
  height: 90vh;
  background-image: url('./assets/Mobile/hero/mobile-bkg-with-icons.jpg');
  background-repeat: no-repeat;
  background-size: 110%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Mobile/about/Hero-convention.jpg');
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #ff000080;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gallery {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 35px;
  width: 100%;
}

#logo-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#about-gallery {
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

#about-logo-wrapper img {
  animation: heartbeat 4s infinite;
  width: 185px;
  height: 182px;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(0.8);

    /* Initial and final size of the image */
  }

  50% {
    transform: scale(1.2);

    /* Scale the image up during the "heartbeat" */
  }
}

#logo-info-section hr {
  margin: 20px 0;
}

#about-wrapper hr:first-of-type {
  display: none;
}

#logo-info-section p {
  color: #838383;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.48px;
}

#about-wrapper p:first-of-type {
  background-color: #fff;
  color: #868686;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.84px;
  padding: 20px 12px;
  margin-bottom: 50px;
}

#menu a {
  color: #868686;
  font-size: 14px;
  line-height: normal;
  text-decoration: none;
  font-weight: 900;
  transition: all;
  transition-duration: 0.3s;
  padding: 5px;
  margin: 5px;
  border: 2px solid transparent;
}

#about-wrapper p:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #7a7a7a;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin: 0 8%;
  margin-bottom: 25px;
}

#about-wrapper p:nth-of-type(2) > a {
  margin-top: 5px;
  text-decoration: none;
  color: #5f5f5f;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
}

#logo-info-section h3 {
  text-align: center;
  margin: 0 15%;
}

#menu {
  display: none;
  flex-direction: column-reverse;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

#menu.mobile {
  display: flex;
  position: fixed;
  inset: 2vh;
  top: 2vh;
  bottom: 2vh;
  left: 2vh;
  background-color: #ec4427;
}

#menu a.mobile {
  color: #fff;
  font-size: 1.5rem;
}

/* -----------------------------------------------------Start  of desktop styling ------------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {
  #about-header {
    padding: 100px 10px 0 10px;
  }

  #menu {
    flex-direction: row;
    display: flex;
  }

  .title {
    font-size: 4rem;
  }

  #about-logo-wrapper {
    margin-top: 10%;
    height: 100px;
  }

  #about-gallery {
    padding: 65px 18%;
    height: 57vh;
  }

  #gallery {
    flex-direction: row;
    height: 87%;
  }

  .gallery-item {
    height: inherit;
  }

  #footer-section {
    background-color: #414246;
    max-width: 100%;
  }

  #footer-section > :first-child,
  #footer-content p:first-of-type,
  #footer-content p:last-of-type {
    color: #fff;
  }

  #about-logo-wrapper img {
    /* max-height: 300px; */
    animation: heartbeat 4s infinite;
  }

  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(0.8);

      /* Initial and final size of the image */
    }

    50% {
      transform: scale(1.2);

      /* Scale the image up during the "heartbeat" */
    }
  }

  #about-wrapper p:nth-of-type(2) {
    margin-top: auto;
    margin-bottom: auto;
    color: #7a7a7a;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  #menu a:hover {
    border-collapse: collapse;
    font-size: 1.5rem;
  }

  #menu li a:last-child {
    color: #5f5f5f;
  }

  #about-wrapper p:nth-of-type(2) > a {
    color: #5f5f5f;
    font-size: 17px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0.34px;
  }

  #menu li:last-child a {
    color: #ec4327;
  }

  #menu li:nth-child(2) a {
    color: #ec4327;
  }

  .title > span {
    font-size: 2rem;
    line-height: 97px;
  }

  #about-wrapper hr:first-of-type {
    display: flex;
    margin-bottom: 70px;
    margin-top: -12px;
  }

  #about-wrapper p:first-of-type {
    width: 70%;
    padding: 35px 65px;
  }
}
