* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
  list-style: none;
}

header {
  display: flex;
  padding: 23px;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#logo {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
