* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
  list-style: none;
}

hr {
  border: 1px solid #a04038;
  background-color: #a04038;
  width: 30px;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 15px;
}

header {
  display: flex;
  padding: 6px 23px;
  height: 10vh;
  align-items: center;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: inherit;
}

header > img {
  display: none;
  position: absolute;
  top: 3%;
  right: 5%;
  height: 50px;
  width: auto;
}

header > img.mobile {
  display: flex;
  max-height: 25px;
}

header nav {
  display: contents;
}

header nav img {
  width: 10%;
}

#logo {
  display: flex;
  height: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: black;
}

#menu {
  display: none;
  flex-direction: column-reverse;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

#menu.mobile {
  display: flex;
  position: fixed;
  top: 2vh;
  bottom: 2vh;
  left: 2vh;
  right: 2vh;
  background-color: #ac5992a2;
}

#menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  color: #ac5992;
  transition: all;
  transition-duration: 0.3s;
  padding: 5px;
  margin: 5px;
  border: 2px solid transparent;
}

#menu a.mobile {
  color: #fff;
  font-size: 1.5rem;
}

#menu a:hover {
  border: 2px solid #ac5992;
  border-collapse: collapse;
  font-size: 1.5rem;
}

#logo-container img {
  height: 80%;
  width: auto;
  margin: auto;
  transition: all;
  transition-duration: 0.3s;
}

#logo-container img:hover {
  height: 90%;
}

#hero-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 51px);
  background: url(./assets/Mobile/hero/mobile-bkg-with-icons.jpg) no-repeat;
  background-size: cover;
  padding: 8% 12px 0 12px;
}

#hero-section p {
  color: #515151;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.12px;
}

.title {
  margin-top: -20px;
  font-weight: 900;
  font-size: 2rem;
  background-image: url(./assets/Mobile/hero/wallpaperflare.com_wallpaper.jpg);
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
}

.title > span {
  font-size: 1.5rem;
}

#hero-section p:nth-of-type(2) {
  color: #868686;
  font-family: Gothic A1;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.26px;
}

#hero-section p:nth-of-type(1) {
  padding: 17px 14px;
  background-color: #f8f8f8;
  border: 4px solid #fff;
}

#materials-wrapper {
  background-image: url(./assets/Mobile/main-program/bkg-main-program.jpg);
  background-size: 215%;
  background-size: 215%;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
  height: 100vh;
}

.section-title {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.8px;
  margin-top: 30px;
}

.material > img {
  width: 57.085px;
  height: 51.733px;
}

.material {
  background-color: #3b3e4581;
  display: grid;
  column-gap: 12px;
  grid-template-columns: 1fr 2fr 6fr;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.material > h3 {
  color: #ff5438;
  font-size: 1rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.143px;
  text-align: start;
}

.material > p {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 22.299px;
  letter-spacing: 0.642px;
}

.materials-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.cta {
  display: flex;
  padding: 20px 50px;
  margin-top: 5%;
  background-color: #ff4f38;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.16px;
  border: none;
  cursor: pointer;
}

#socials {
  display: flex;
}

.social img {
  max-height: 100px;
  padding: 15px;
}

#footer-title {
  background-image: url(./assets/Mobile/hero/wallpaperflare.com_wallpaper.jpg);
  background-clip: text;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  margin-right: auto;
}

#materials-wrapper > a {
  display: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-decoration-line: underline;
}

.product {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0fr;
  column-gap: 14px;
  height: 75%;
}

.product-img-wrapper {
  width: 100%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 3s;
}

.product-img-wrapper:hover {
  height: 90%;
}

.product-img {
  max-width: 100%;
}

.product-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
  padding: 17px;
  transition: all;
  transition-duration: 3s;
  margin-bottom: auto;
}

.product-content:hover {
  padding: 5px 0 0 0;
  padding: 5px;
}

#products-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#products-section-title {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
}

.product-content > :first-child {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.product-content > p:first-of-type {
  color: #f78c89;
  font-size: 10px;
  font-weight: 700;
  line-height: 14.943px;
  letter-spacing: -0.2px;
}

.product-content > hr {
  width: 20px;
  margin: 12px 0 6px 0;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
}

#products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-content > p:last-of-type {
  color: #000;
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.54px;
}

#products-section-title + hr {
  margin: 4px 0 30px 0;
}

#products-section {
  padding: 15px 12px 32px 12px;
}

#products-section > .cta.more {
  display: flex;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.55px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  gap: 10px;
}

#partners-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 120px;
  background-color: #414246;
}

#partners-list img {
  max-width: 12vw;
  filter: invert(0.5);
}

#partners h1 {
  color: #8f8f91;
}

#partners hr {
  margin-bottom: 50px;
}

#footer-section {
  display: flex;
  align-items: center;
  padding: 5% 17%;
  gap: 65px;
  max-width: 90%;
}

#footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: none;
}

/* -----------------------------------------------------Start  of desktop styling ------------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {
  header {
    height: 27vh;
  }

  header nav {
    display: none;
  }

  #menu {
    order: 1;
    display: flex;
    margin-right: 15%;
    position: absolute;
    right: 0;
  }

  #hero-section > * {
    max-width: 65%;
    margin-left: 10%;
  }

  #hero-section > .title {
    font-size: 4rem;
    background-image: url('./assets/Mobile/hero/wallpaperflare.com_wallpaper.jpg');
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: auto;
  }

  #hero-section > .title > span {
    font-size: 2.6rem;
  }

  #hero-section > p:first-of-type {
    color: #515151;
    font-family: Lato;
    font-size: 25.49px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.255px;
  }

  #hero-section p:nth-of-type(2) {
    margin-top: 10vh;
    margin-bottom: auto;
    font-size: 27.614px;
    font-weight: 700;
    letter-spacing: -0.552px;
  }

  #hero-section p {
    line-height: normal;
  }

  .section-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
  }

  #products-wrapper > .section-title {
    color: #000;
  }

  #products-wrapper > hr {
    margin-bottom: 50px;
  }

  #materials-wrapper hr {
    width: 51px;
    height: 2px;
  }

  .materials-list {
    display: flex;
    flex-direction: row;
    margin: 0 7%;
  }

  .material {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
    padding: 12px;
  }

  .material > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .material > img {
    width: 30%;
    height: auto;
    justify-self: center;
  }

  .material > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.24px;
  }

  .material > p {
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.72px;
  }

  #materials-wrapper {
    padding: 4% 2%;
    height: auto;
  }

  #materials-wrapper > .cta {
    display: none;
  }

  #materials-wrapper > a {
    display: flex;
    margin-top: 2%;
  }

  #products-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15%;
  }

  .product {
    grid-template-rows: auto;
    transition: all;
    transition-duration: 1s;
  }

  .product:hover {
    grid-template-columns: 2fr 1fr;
  }

  #products-section > .cta.more {
    display: none;
  }
  
  footer {
    display: block;
  }
}
